<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container-fluid jumbotron"id="back" >
        <div class="mat-card">
            <div class="card-header">
              <h2>Sign-Up</h2>
            </div>
            <div class="card-body">
               
                    <form class="text-center border border-light p-5">
                        <tr>
                            <td >
                                <div class="form-group" ><!--form group is used for proper grouping -->
                                    <label for="firstname">Name</label>
                                    <input [(ngModel)]="signup.name"  name="name" type="text"  class="form-control" placeholder="Name" #name="ngModel" required  minlength="4">
                                    <div *ngIf="name.invalid && (name.dirty || name.touched)">                               
                                        <mat-error *ngIf="name.hasError('required')">
                                         Name is required.
                                        </mat-error>
                                        <mat-error *ngIf="name.hasError('minlength')">
                                            Minimum Length is 4 characters.
                                        </mat-error>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" >
                                    <label for="lastname">Username</label>
                                    <input [(ngModel)]="signup.username" name="username" type="text" class="form-control" placeholder="Username"  required minlength="4" #username="ngModel">
                                    <div *ngIf="username.invalid && (username.dirty || username.touched)">                               
                                        <mat-error *ngIf="username.hasError('required')">
                                         Username is required.
                                        </mat-error>
                                        <mat-error *ngIf="username.hasError('minlength')">
                                            Minimum Length is 4 characters.
                                        </mat-error>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                        <td>
                            <div class="form-group" >
                            <label for="email">E-mail</label>
                            <input  [(ngModel)]="signup.email" type="email" name="email" class="form-control" [pattern]="emailPattern" placeholder="E-mail" ngModel required email #email="ngModel"> 
                            <div *ngIf="email.invalid && (email.dirty || email.touched)">                               
                                        <mat-error *ngIf="email.hasError('required')">
                                         E-mail is required.
                                        </mat-error>
                                        <mat-error *ngIf="email.hasError('pattern')"> 
                                             Email not valid.
                                        </mat-error>	
                                    </div>
                                    </div>
                                </td>
                        
                        <td >
                            <div class="form-group" >
                            <label for="contact">Contact No.</label>
                            <input [(ngModel)]="signup.phoneNo" type="tel" class="form-control" name="phoneNo" placeholder="Contact no." ngModel required minlength="10" maxlength="10" #phoneNo="ngModel">    
                            <div *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)">                               
                                        <mat-error *ngIf="phoneNo.hasError('required')">
                                         Contact No. is required.
                                        </mat-error>
                                        <mat-error *ngIf="phoneNo.hasError('minlength')">
                                            Enter valid No. of length 10.
                                        </mat-error>
                                        <mat-error *ngIf="phoneNo.hasError('maxlength')">
                                            Enter valid No. of length 10.
                                        </mat-error>
                                    </div>
                                    </div>
                                </td>
                        </tr>
           
                  
           
                        <tr>
                            <td>
                                
                                    <label for="password">Password</label>
                                    <input [(ngModel)]="signup.password" name="password" type="password" class="form-control" placeholder="Password" ngModel required minlength="6" #password="ngModel">
                                    <div *ngIf="password.invalid && (password.dirty || password.touched)">                               
                                        <mat-error *ngIf="password.hasError('required')">
                                         Please Set Password is required.
                                        </mat-error>
                                        <mat-error *ngIf="password.hasError('minlength')">
                                            Minimum length is 6 characters.
                                        </mat-error>
                                    </div>
                                
                                </td>
                            <td>
                                
                                    <label for="confirmpassword"> Confirm Password</label>
                                    <input [(ngModel)]="signup.confirmpassword" name="confirmpassword" type="password" class="form-control" placeholder="Confirm Password" ngModel required   #confirmpassword="ngModel">
                                    <mat-error *ngIf="signup.password!=signup.confirmpassword && confirmpassword.touched" >              
                                        Password not matching
                                      </mat-error>
                             
                            </td>                    
                        </tr>
                        <div *ngIf="isServiceError">
                            <p>
                                Usename Already Taken!
                            </p>
                        </div>


                        <div class="row">
                            <button   type="submit" class="btn btn-lg submit"  md-raised-button [disabled]="signup.invalid" (click)="register()" >Submit</button>
                           <button  type="reset" class="btn btn-lg clear"  md-raised-button >Clear</button>
                      </div>
                      <div >
                         <p >Already a member?</p>
                         <a  href="/userlogin" class="cent">Login</a>
                     </div>

                             
                    </form>
                </div>
            </div>
        
  </div>