#employees {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #employees td, #employees th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #employees tr:nth-child(even){background-color: #f2f2f2;}
  
  #employees tr:hover {background-color: #ddd;}
  
  #employees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #e91e63;
    color: #fff;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
   ::ng-deep .mat-form-field-placeholder{

    color:white;
  }

  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  }


  input.mat-input-element {
    color: white;
  }

  

  .mat-card{    
    margin-top: 3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    
 }
 .mat-card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
  }
  
  .jumbotron{
     background-color:rgba(42, 42, 42, 1)!important;
     margin-bottom: 0; 
  }

  #button{
    color: white;
    background-color: #7123e2 ;
    float: right;
}

#top{
  margin-top: 5%;
}