#background{
    background:url(https://image.shutterstock.com/z/stock-vector-romantic-music-background-for-paper-and-web-design-479639764.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 500px;
}