<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<div class="wrapper">
    <form class="text-center">
        <button mat-icon-button class="close-button" [mat-dialog-close]="true" id="close">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>

        <tr>
            <td>

                <mat-form-field class="fullwidth">
                    <input matInput name="f1" type="text" placeholder="Track Id" disabled [(ngModel)]="track.id" ngDefaultControl ngModel
                        required #f1="ngModel">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field class="fullwidth">
                    <input matInput name="f2" type="text" placeholder="Track Name" [(ngModel)]="track.name" ngDefaultControl ngModel
                        required #f2="ngModel">
                </mat-form-field>
                <div *ngIf="f2.invalid && (f2.dirty || f2.touched)">
                    <mat-error *ngIf="f2.hasError('required')">
                        Track Name is required.
                    </mat-error>
                </div>
            </td>
        </tr>
        <tr>

            <td>
                <mat-form-field class="fullwidth">
                    <input matInput name="3" type="text" placeholder="Date Of Release" ngDefaultControl [(ngModel)]="track.dateOfRelease"
                        ngModel required #f3="ngModel">
                </mat-form-field>
                <div *ngIf="f3.invalid && (f3.dirty || f3.touched)">
                    <mat-error *ngIf="f3.hasError('required')">
                        Date Of Release is required.
                    </mat-error>
                </div>
            </td>

            <td>
                <!-- <mat-form-field class="fullwidth">
                        <input  matInput name="3" type="text"  placeholder="AlbumId" [(ngModel)]="track.album" ngModel #f3="ngModel"  >
                    </mat-form-field>-->
                <ng-multiselect-dropdown [placeholder]="'Select Singer'" [data]="dropdownList"
                    [(ngModel)]="selectedItems" ngDefaultControl [settings]="dropdownSettings">
                </ng-multiselect-dropdown>

            </td>
        </tr>
        <div class="row">
            <button type="submit" class="btn btn-lg submit" md-raised-button id="close"
                (click)="saveTrack()">Save</button>
            <button type="reset" class="btn btn-lg clear" md-raised-button>Clear</button>
        </div>
    </form>
</div>