
#back{
  background: url(https://i.pinimg.com/originals/cc/d2/96/ccd2965fda1b5090f7500d7753040296.jpg) no-repeat center center ;
  background-size: cover;
}
.mat-card{
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 20px 20px 20px;
    margin-top: 5%;
      margin-left: -20%;
    background-color:white;
 }
 .mat-card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
  }
  
  .jumbotron{
     background-color:rgba(42, 42, 42, 1)!important;
     height: 625px ;
     margin-bottom: 0;
     
  }
  button{
    color: white;
    background-color: #7123e2 ;
}

h1 .sign{
    font-family:  "Times New Roman";
    color: #55ce63!important; 
}

