
  footer{
    background-color:  #7123e2 ;
    color: white;
    width:100%;
  
    bottom: 0;
    position:relative;
    padding-top: 10PX;
    padding-left: 10PX;
    padding-bottom: 10px;
  }
  i{
    list-style: none;
    display: inline-block;
    color: white;
  }
  a:hover {
    color:whitesmoke;
  }
  
  #icons{
    margin-right: 10px;
    margin-top: 5%;
    padding-right:2% ;
  }
i{
  padding-right:2% ;
}