
<footer class="page-footer font-small ">

    <div class="container-fluid text-center text-md-left">
  
    
      <div class="row">
  
        
        <div class="col-md-6 mt-md-0 mt-3">
  
          <h3 class="text-uppercase">Music Library Management</h3>
          <p>All rights reserved</p>
  
        </div>
<!--    
        <div class="col-md-3 mb-md-0 mb-3">
  
          
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
             
            </ul>
  
          </div> -->
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 mb-md-0 mb-6 ">
            <div  class="row" id="icons">
            <!-- Links -->
            <!-- <h5 class="text-uppercase">Links</h5> -->
                <a href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
                <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-instagram fa-2x" ></i> </a>

            </div>
          </div>
       
  
      </div>
   
  
    </div>
  
    <div class="footer-copyright text-center py-3">© 2021 Copyright</div>
  
  </footer>
  
  
  
