.example-spacer {
    flex: 1 1 auto;
  }
.navbar-nav{
  padding-left: 0;
  margin-left: 0;
}
  mat-toolbar{
    background-color: #7123e2!important;
    color: white;
    position:fixed;
  }
  .sidebar{
    width: 200px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 68, 140);
  }

a{
  color:white;
  display: inline-block;
  text-decoration: none;
  font-size: large;
}

ul{
  list-style-type: none;
}
li{
  margin-top: 10px;

  padding-left: 2px;
}
.fa-arrow-circle-o-left{
  margin-left: 250%;
  padding: 10px;
}

.fa{
  padding-right: 10px;
}
a:hover {
  color:rgb(185, 174, 174);

}

.button{
  color:white;
  background-color: rgba(33,42,47,.85);
}




li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn .login {
  background-color: rgb(72, 72, 75);

}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
