<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<div class="wrapper">
    <form class="text-center">
        <button mat-icon-button class="close-button" [mat-dialog-close]="true" id="close">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>

        <tr>
            <td>
                <label>user Id</label>
                <input type="text" required class="form-control" ngModel #f1="ngModel" name="f1" disabled  placeholder="User Id" ngDefaultControl  [(ngModel)]="user.id" required>

            </td>

            <td>
                <label>User Name</label>
                <input type="text" required class="form-control" ngModel #f2="ngModel" name="f2"   placeholder="User Name" ngDefaultControl  [(ngModel)]="user.name" required>

                <div *ngIf="f2.invalid && (f2.dirty || f2.touched)">
                    <mat-error *ngIf="f2.hasError('required')">
                        User Name is required.
                    </mat-error>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                    <label>Role</label>
                    <div></div>
                <ng-multiselect-dropdown  [placeholder]="'Select Role'" [data]="roleSelectorList"
                    [(ngModel)]="user.roles" ngDefaultControl [settings]="dropdownSettings" name="dropdown">
                </ng-multiselect-dropdown>

            </td>
        </tr>
        <div class="row">
            <button type="submit" class="btn btn-lg submit" md-raised-button id="close"
            (click)="saveUser()"  >Save</button>
            <button type="reset" class="btn btn-lg clear" md-raised-button>Clear</button>
        </div>
    </form>
</div>
