.mat-card{
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: whitesmoke;
    padding-top: 30px;
    height: 250px;
 }
 .mat-card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
  }
  img{
    border-radius: 100%;
  }

  .jumbotron{
     background-color:rgba(42, 42, 42, 1)!important;
    
     margin-bottom: 0;
     
  }
  mat-form-field{
    margin-left: 5%;
  }

  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: white;
    }
    mat-form-field {
       .mat-hint, input, ::placeholder, .mat-form-field-label {
          color: white;
       }
    }
 }

  input.mat-input-element {
    color: white;
  }
  #button{
    color: white;
    background-color: #7123e2 ;
    float: right;
    margin-right: 10%;
}
mat-icon{
  font-size: 35px;
}

  #up{
    margin-top: 5%;
  } 

  #top{
    margin-top: 15%;
  }
  img{
      height: 150px;
      width: 150px;
      align-self: center;
  }

  input{
    color: white;
  }

  #like{
    padding-right: 6px;
    float: right;
  }