<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container-fluid jumbotron" >

    <div class="row" id="up">
        <div class="col-lg-3 col-md-3">
          <mat-form-field color="accent">
            <input matInput [(ngModel)]= "keyword" (keyup)="applyFilter($event)">   
          </mat-form-field>
          <button mat-icon-button matTooltip="Click to search" class="iconbutton"
            color="accent" (click) = "searchSinger()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div class="col-lg-8 col-md-8" >
        </div>
        <div class="col-lg-1 col-md-1" >
          <button id="button" class="btn btn-lg"  type="submit">Add Singer</button>
        </div>
      </div>


        <div class="col-lg-3 col-md-3 " *ngFor="let singer of singerList">
            <mat-card id="top" class="text-center" > 


                <div id="image"  ><img mat-card-image src="assets\singer.png"
                 alt="Photo of a Aanchal">
                 <mat-card-content class="text-center">
                    <div class="row">
                        <div class="col-lg-1"></div>
                     <div class="col-lg-6">
                    <tr >
                        <td [(ngModel)]= "id">{{singer.name}}</td>
                    </tr>
                    <tr >
                        <td>{{singer.gender}}</td>
                    </tr>
                    <tr >
                        <td>{{singer.nationality}}</td>
                    </tr>
                    </div>
                    <div class="col-lg-4">
                    
                        <td> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                            color="primary" (click)="onCreate(singer)"  >
                            <mat-icon>edit</mat-icon>
                          </button></td>
                          <td> <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
                            color="warn" (click)="openModal()">
                            <mat-icon>delete</mat-icon>
                          </button></td>
                          </div>
                    </div>

                 </mat-card-content>
                </div>
            </mat-card>
        </div>
       

</div>
<app-footer></app-footer>